*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 10%;
    align-items: center;
}
header h1 {
    font-size: 48px;
}
header nav ul li {
    display: inline-block;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 600;
}
.all-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.half-width{

}
.half-width h1 {
    font-size: 60px;
    color: navy;
}
.half-width h1 span {
    color: tomato;
}
.half-width p {
    font-size: 25px;
    margin-top: 40px;
}
.btn {
    background: tomato;
    padding: 15px 45px;
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin-top: 55px;
    border: none;
    border-radius: 10px;
}
.half-width img {
    width: 500px;
}
.sec-section {
    flex-direction: row-reverse;
}
.sec-text-half {
    margin-left: 150px;
}
.projec-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    margin-top: 45px;
}
.projec-sec h1 {
    font-size: 55px;
    color: tomato;
    margin: 60px 0;
}
.projec-sec h1 span {
    color: navy;
}
.project-galary {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    justify-content: center;
    justify-items: start;
    align-items: stretch;
    align-content: stretch;
}
.cart {
    display: grid;
    grid-template-rows: max-content 60px 1fr;
    box-shadow: 0 8px 16px 0 gray;
}
.project-galary img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cart p {
    font-size: 22px;
    padding-left: 30px;
    margin-bottom: 35px;
}
.cart h2 {
    padding: 17px 30px;
}
.inquiry-sec {
    height: 600px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("shapes\Group_33094_1.png");
}
section.inquiry-sec p {
    font-size: 50px;
    font-weight: 600;
    margin-top: 15px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    font-size: 50px;
    padding: 15px;
}
.footer-icon{

}